<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;apptheme&quot;}">
  <meta name="vaadin-version" content="8.0.5">
  <meta name="package-mapping" content="com_vaadin_template_customer_ui_view_customer:net.jiniguru.roshan.ui.view.customer">
  <meta name="package-mapping" content="customer:net.jiniguru.roshan.ui.components">
 </head>
 <body>
  <vaadin-css-layout responsive>
   <vaadin-horizontal-layout style-name="long" spacing="false">
    <vaadin-button icon="fonticon://Vaadin-Icons/e80b" style-name="delete" id="delete" plain-text _id="delete"></vaadin-button>
    <vaadin-text-field id="name" width="100px" _id="name" :center></vaadin-text-field>
    <vaadin-date-field id="dob" width="134px" _id="dob" :middle :center></vaadin-date-field>
   </vaadin-horizontal-layout>
  </vaadin-css-layout>
 </body>
</html>